<h1>1) Add a New Horse</h1>

# Add _errors partial back in here

<%= form_for @horse do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br><br>
  <%= f.label "Needs Shoes?" %>
  <%= f.check_box :needs_shoes %>
  <br><br>
  <%= f.label "Front Shoes?" %>
  <%= f.check_box :front_shoes %>
  <br><br>
  <%= f.label "Hind Shoes?" %>
  <%= f.check_box :hind_shoes %>
  <br><br>
  <%= f.label "Winter Shoes?" %>
  <%= f.check_box :winter_shoes %>
  <br><br>
  <%= f.label "Pads?" %>
  <%= f.check_box :pads %>
  <br><br>
  <%= f.label :shoe_size %>
  <%= f.number_field :shoe_size %>
  <br><br>
  <%= f.label :temperament %>
  <%= f.text_area :temperament %>
  <br><br>
  <%= f.label :schedule %>
  <%= f.text_field :schedule %>
  <br><br>
  <%= f.label :comments %>
  <%= f.text_area :comments %>
  <br><br>

<h1>2) Select or Create a Barn</h1>

  <%= render partial: "barns/select", locals: {barn: @barn} %>

  <h3>Or Create a New Barn:</h3>
  <%= render partial: "barns/form", locals: {barn: @barn} %>

<h1>3) Select or Create an Owner</h1>
  
  <h2>Select from an existing Owner:</h2>
    <%= f.text_field :owner_name, list: "owners_autocomplete" %>
    <datalist id="owners_autocomplete">
      <% Owner.all.each do |owner| %>
        <option value="<%= owner.name %>">
      <% end %>
    </datalist>

  <h3>Or Create a New Owner:</h3>
  <%= render partial: "owners/form", locals: {owner: @owner} %>

  <br><br>
  <%= f.submit %>
<% end %>

<br><br>
# Add validations on this page for both Barn and Owner = Required.
<br><br>
