<h1><%= @horse.name %></h1>

<ul>
  <li>Needs Shoes?: <%= @horse.needs_shoes %></li>
  <li>Front Shoes?: <%= @horse.front_shoes %></li>
  <li>Hind Shoes?: <%= @horse.hind_shoes %></li>
  <li>Winter Shoes?: <%= @horse.winter_shoes %></li>
  <li>Pads?: <%= @horse.pads %></li>
  <li>Shoe Size: <%= @horse.shoe_size %></li>
  <li>Temperament: <%= @horse.temperament %></li>
  <li>Schedule: <%= @horse.schedule %></li>
  <li>Comments: <%= @horse.comments %></li>
</ul>

<h3><%= link_to "List of Appointments", horse_appointments_path(@horse) %></h3>
<h3><%= link_to "Schedule a New Appointment", new_horse_appointment_path(@horse) %></h3>

