<h2>Welcome <%= @farrier.first_name %> <%= @farrier.last_name %>!</h2>
<h3><%= @farrier.company_name %></h3>

<strong><em>Inspirational Quote: <%= Quotable.random %></strong></em>
 
<h2>Today's Appointments:</h2>

<% @farrier.horses.each do |horse| %>
  <% horse.appointments.each do |appointment| %>
    <% if appointment.date == Date.today %>
      <p>  
      <%= link_to horse.name, horse_path(horse) %><br>    
      Date: <%= appointment.date.strftime("%m/%d/%Y") if appointment.date %><br>
      Start time: <%= appointment.start.strftime("%I:%M %p") if appointment.start %><br>
      End time: <%= appointment.end.strftime("%I:%M %p") if appointment.end %><br>
      Comments: <%= appointment.comments if appointment.comments %>
      </p>
    <% end %>
  <% end %>
<% end %>

<%= month_calendar do |date| %>
  <%= date %>
<% end %>
