<div>
  <%= link_to "Add a Horse", new_horse_path %>  |
  <%= link_to "Add an Appointment", new_appointment_path %>  |  
</div>

<h2>Welcome <%= @farrier.first_name %> <%= @farrier.last_name %>!</h2>
<h3><%= @farrier.company_name %>
 
<p>My Horses:</p>
<% @farrier.horses.each do |horse| %>
  <li><%= link_to horse.name, horse_path(horse) %></li>
<% end %>

<p>My Appointments:</p>
<% @farrier.appointments.each do |appointment| %>
  <%= link_to appointment.start.strftime("%B %d, %Y at %k:%M"), appointment_path(appointment) %>
  <%= link_to appointment.horse.name, horse_path(appointment.horse) %>
  <br>
<% end %>