<h1>Create a New Appointment</h1>

<%= form_for @appointment do |f| %>
  <%= f.collection_select :horse_id, Horse.order(:name), :id, :name %>
  <br><br>
  <%= f.label :start %>
  <%= f.text_field :start %>
  <br><br>
  <%= f.label :end %>
  <%= f.text_field :end %>
  <br><br>
  <%= f.label :comments %>
  <%= f.text_area :comments %>
  <br><br>
  <%= f.submit %>
<% end %>