<h1>Create a New Appointment</h1>

<%= form_for @appointment do |f| %>

  <% if !@horse %>
    <%= f.label :horse %>
    <%= f.collection_select :horse_id, Horse.order(:name), :id, :name %>
    <br><br>
  <% else %>
    <%= f.hidden_field :horse_id %>
    <h2>For <%= @horse.name %></h2><br>
  <% end %>

  <%= f.label :start %>
  <%= datetime_select("appointment", "start", prompt: true) %>
  <br><br>

  <%= f.label :end %>
  <%= datetime_select("appointment", "end", prompt: true) %>
  <br><br>

  <%= f.label :comments %>
  <%= f.text_area :comments %>
  <br><br>
  <%= f.submit %>
<% end %>