<h1>New Appointment Scheduled</h1>

<p>
  Horse: <%= link_to @appointment.horse.name, horse_path(@appointment.horse) if @appointment.horse.name %><br>
  Date: <%= @appointment.date.strftime("%m/%d/%Y") if @appointment.date %><br>
  Start time: <%= @appointment.start.strftime("%I:%M %p") if @appointment.start %><br>
  End time: <%= @appointment.end.strftime("%I:%M %p") if @appointment.end %><br>
  Comments: <%= @appointment.comments if @appointment.comments %>
</p>