<!DOCTYPE html>
<html>
  <head>
    <title>FarrierApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# COMMENTED OUT THIS NEXT LINE; NEED TO FIGURE OUT THE REASON FOR ERROR %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    </head>

  <body>

    <div>
      <%= link_to "Home", root_path %>  |  

      <% if logged_in? %>
        <%= link_to "My Profile", farrier_path(current_farrier) %>  |  
        <%= link_to "My Horses", farrier_horses_path(current_farrier) %>  |  
        <%= link_to "Add a Horse", new_horse_path %>  |  
        <%= link_to "Log Out", logout_path, method: "delete" %>  |  
      <% else %>
        <%= link_to "Sign Up", signup_path %>  |  
        <%= link_to "Log In", login_path %>  |  
        <%= link_to "Log In With Google", '/auth/google_oauth2' %>  |  

      <% end %>
    </div>

    <div class="flash"><%= @error %></div>
    <%= yield %>
    
  </body>
</html>
