<!DOCTYPE html>
<html>
  <head>
    <title>FarrierApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# COMMENTED OUT THIS NEXT LINE; NEED TO FIGURE OUT THE REASON FOR ERROR %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    </head>

  <body>

    <a class="navbar-brand" <%= link_to "Home", home_path %></a>
    <%= link_to "Sign Up", signup_path %>
    <%= link_to "Log In", login_path %>

    <%= yield %>
    
  </body>
</html>
