<!DOCTYPE html>
<html>
  <head>
    <title>FarrierApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# COMMENTED OUT THIS NEXT LINE; NEED TO FIGURE OUT THE REASON FOR ERROR %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    </head>

  <body>
  <header>
    <div>
    <ul class="topnav">
      <li><%= link_to "Home", root_path %></li>  
      <li>|</li>  

      <% if logged_in? %>
        <li><%= link_to "My Profile", farrier_path(current_farrier) %></li>  
        <li>|</li>  
        <li><%= link_to "My Horses", farrier_horses_path(current_farrier) %></li>
        <li>|</li>
        <li><%= link_to "Add a Horse", new_horse_path %></li>
        <li>|</li>
        <li><%= link_to "Log Out", logout_path, method: "delete" %></li>
      <% else %>
        <li><%= link_to "Sign Up", signup_path %></li>
        <li>|</li>
        <li><%= link_to "Log In", login_path %></li>
        <li>|</li>
        <li><%= link_to "Log In With Google", '/auth/google_oauth2' %></li>
        <li>|</li>
      <% end %>
    </ul>
    </div>
    </header>
    <div class="flash"><%= @error %></div>

    <%= yield %>

    <div class="footer">
      <% if logged_in? %>
        <%= current_farrier.first_name %> <%= current_farrier.last_name %> of 
        <%= current_farrier.company_name %>
      <% end %>
    </div>
  </body>
</html>
